<div>
    <h2>Create Post</h2>
    <form for="content">
        <label for="post-title">Title</label>
        <input id='post-title' type="text" name="post-title">

        <label for="content">Post Content</label>
        <input type="text" id="content" name="content">

        <button type="submit" ></button>
    </form>
</div>

<script src="/js/new-post.js"></script>