header{
    max-width: 100%;
    background-color:cornflowerblue;
    height: 100px;
    display: flex;
    align-items: center;
}

a{
    color: gray;
    cursor: pointer;
}

button{
    border-radius: 50px;
}

.post-card{
    background-color: darkseagreen;
    margin: 15px;
}